.footer {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    background-color: $blue;
    border-top: 0.1rem solid #ffffff;

    &__wrapper {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer__copyright {
            margin-right: 23.5rem;

            color: #ffffff;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.7rem;
        }

        .footer__links {
            margin-right: 11.8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            list-style: none;

            &__item {
                margin-right: 4.2em;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    line-height: 2.7rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    color: #d8d8d8;
    
                    transition: color .2s linear;
    
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }

        .footer__social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 19.4rem;

            list-style: none;

            &__item {
                margin-right: 1.5rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;

                    svg {
                        path {
                            fill: #d8d8d8;

                            transition: fill .2s linear;

                            &:hover {
                                fill: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        .footer__go-header {
            width: 4.5rem;
            height: 4.5rem;

            background-color: #ffffff;
            background-image: url(../icons/arrow_top.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1.7rem 2.4rem;
            border-radius: 0.3rem;
            transition: transform .2s linear;

            &:hover {
                transform: scale(0.98);
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}

@media(max-width: 1424px) {
    .footer {
        &__wrapper {
            margin: 0 auto;

            justify-content: space-between;

            .footer__copyright {
                margin-right: 0;
            }

            .footer__links {
                margin-right: 0;
            }

            .footer__social {
                margin-right: 0;
            }
        }
    }
}

@media(max-width: 1022px) {
    .footer {
        padding-top: 5rem;
        padding-bottom: 5rem;

        &__wrapper {
            max-width: 100rem;
            flex-direction: column;

            .footer__copyright {
                margin-right: 0;
                margin-bottom: 1.5rem;
            }

            .footer__links {
                margin-right: 0;
                margin-bottom: 1.8rem;
            }

            .footer__social {
                margin-right: 0;
                margin-bottom: 1.8rem;

                &__item {
                    transform: scale(1.6);
                    margin-right: 3rem;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .footer {
        &__wrapper {
            max-width: 74rem;
        }
    }
}

@media(max-width: 767px) {
    .footer {
        &__wrapper {
            text-align: center;
            max-width: auto;
            width: auto;

            .footer__links {
                &__item {
                    margin-right: 1rem;
                }
            }
        }
    }
}