@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    color: #333333;
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;

    background-color: #fff;

    @media screen and (max-width: 767px) {
        font-size: calc(10px + 13 * (100vw - 320px) / 447);
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);
    }

    @media (min-width: 1024px) and (max-width: 1360px) {
        font-size: calc(8px + 2 * (100vw - 1024px) / 336);
    }
}