@keyframes rotate {
    from {
        transform: translateX(-50%) rotate(-30deg);
    }

    25% {
        transform: translateX(-50%) rotate(30deg);
    }

    50% {
        transform: translateX(-50%) rotate(30deg);
    }

    75% {
        transform: translateX(-50%) rotate(-30deg);
    }

    to {
        transform: translateX(-50%) rotate(0deg);
    }
}

.header {
    position: relative;
    min-height: 103.4rem;

    background-color: #f5fcfd;
    background-image: 
                    url(../img/Device.png),
                    url(../img/bg_shape_1.svg);
    background-position: 
                    center 47.7rem,
                    bottom right;
    background-repeat: no-repeat;
    background-size: 
                    81rem 99.4rem,
                    cover;

    &__wrapper {
        width: 95%;
        max-width: 162.1rem;
        margin: 0 auto;

        .nav__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 11rem;

            .header__logo {
                display: inline-block;
                height: 9.9rem;
                padding-top: 3.4rem;
                padding-left: 2.2rem;
                padding-right: 2.2rem;
                
                color: #ffffff;
                text-align: center;
                font-size: 3.6rem;
                line-height: 2.4rem;
                font-weight: 700;
                text-decoration: none;
    
                background-color:$blue;
                border-radius: 0 0 2.1rem 2.1rem;
    
                transition: color .2s linear,
                            text-shadow .1s linear,
                            background-color .2s linear;
    
                &:hover {
                    color: $blue;
    
                    background-color: #ffffff;
                }
    
                &:active {
                    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .5);
                }
            }

            nav {
                display: flex;
                align-items: center;

                .site__nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5.4rem;
                    list-style: none;
    
                    li {
                        margin-right: 4.2rem;
    
                        &:last-child {
                            margin-right: 0;
                        }
    
                        a {
                            color: $grey;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 2.7rem;
                            text-decoration: none;
    
                            transition: color .2s linear,
                                        text-shadow .2s linear;
    
                            &.active {
                                color: $blue;
                            }
    
                            &:hover {
                                color:$blue
                            }
    
                            &.active:hover {
                                text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .3);
                            }
                        }
                    }
                }
    
                .user__nav {
                    list-style: none;
    
                    li {
                        a {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            height: 5rem;
                            width: 16.5rem;
    
                            color: #ffffff;
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 2.7rem;
                            text-decoration: none;
    
                            background-color: #0063dd;
                            border-radius: 2.5rem;
                            transition: transform .2s linear;
    
                            &:hover {
                                transform: scale(0.98);
                            }

                            &:active {
                                transform: scale(0.95);
                            }
                        }
                    }
                }
            }
        }
    }

    &__call-to-action {
        text-align: center;

        h1 {
            margin-bottom: 4rem;

            font-weight: 700;
            font-size: 3.6rem;
            line-height: 2.4rem;
        }

        p {
            width: 64rem;
            margin: 0 auto;
            margin-bottom: 4rem;

            font-weight: 400;
            color: $grey;
            font-size: 1.6rem;
            line-height: 2.7rem;
        }

        .call-to-action__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 16.5rem;
                height: 5rem;

                text-align: center;
                text-decoration: none;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.7rem;

                border-radius: 2.5rem;
                transition: transform .2s linear,
                            border .2s linear,
                            background-color .2s linear,
                            color .2s linear;

                &:active {
                    transform: scale(0.95);
                }

                &.call-to-action__download {
                    margin-right: 3rem;
    
                    color: #ffffff;
    
                    background-color: $blue;
    
                    &:hover {
                        color: $blue;

                        background-color: transparent;
                        border: 0.2rem solid $blue;
                    }
                }
    
                &.call-to-action__free-trial {
                    color: $blue;
    
                    border: 0.2rem solid $blue;
    
                    &:hover {
                        color: #ffffff;

                        border: none;
                        background-color: $blue;
                    }
                }
            }
        }
    }

    .header__go-to-advantages {
        display: block;
        position: absolute;
        width: 7rem;
        height: 7rem;
        bottom: -3.5rem;
        left: 50%;
        transform: translateX(-50%);

        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(../icons/arrow_bottom.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2.5rem 3.7rem;
        transition: transform .2s linear;

        &:hover {
            animation: rotate 2s;
        }

        &:active {
            transform: translateX(-50%) scale(0.95);
        }
    }
}

@media (max-width: 1690px) {
    .header {
        background-image: 
            url(../img/Device.png),
            none;
    }
}

@media (max-width: 1022px) {
    .header {
        &__wrapper {
            max-width: 100rem;

            .nav__wrapper {
                margin-bottom: 5rem;
                flex-direction: column;

                .header__logo {
                    margin-bottom: 5rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 0;
        padding-bottom: 10rem;

        background-image: none;
        background-color: #ffffff;

        &__wrapper {
            max-width: 74rem;

            .nav__wrapper {
                margin-bottom: 5rem;
                flex-direction: column;
            }
        }

        .header__go-to-advantages {
            display: none;
        }
    }
}